{% extends 'common.twig' %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-lg-8">

            <h1 class="my-4">ERREUR 404
                
            </h1>
            <h2>La page n'a pu être trouvée</h2>
        </div>
        
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<div class="flex-grow-1"></div>
{% endblock %}