{% extends 'common.twig' %}

{% block content %}
<!-- Page Content -->
<div class="container text-center flex-grow-1 d-flex flex-column justify-content-center">
  <h1>ERROR 404</h1>
  <h2>Page not found</h2>
  <a href="{{ router.pathFor("home", {'domain': domain}) }}">Click here to go to the home page</a>
</div>
{% endblock %}
