{% extends 'common.twig' %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-lg-8">

            <h1 class="my-4">ERROR 404
                
            </h1>
            <h2>Page not found</h2>
        </div>
        <a class="navbar-brand" href="{{ router.pathFor("home", {'domain': domain}) }}">Click here to go to the home page</a>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<div class="flex-grow-1"></div>
{% endblock %}