<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUD app | {{ pagename }}</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    {{ include('navbar.twig') }}

    {% block content %}
    {% endblock %}
  </body>
</html>
