{% extends 'common.twig' %}

{% block content %}
  <h1>CRUD application home page</h1>
  {% for user in users %}
    <div class="">
      <p>username: {{ user.username }}</p>
      <p>email: {{ user.email }}</p>
    </div>
  {% endfor %}
{% endblock %}
