{% extends 'common.twig' %}

{% block content %}
  <div class="container card-form py-5">
    <div class="card mr-auto ml-auto">
      <div class="card-header">
        <h4 class="my-0">Log in</h4>
      </div>
      <div class="card-body">
        {% if not session.username %}
          <form action="{{ router.pathFor('login', {'domain':domain}) }}" method="post" class="d-flex flex-column">
            <div class="form-group">
              <label for="usernameInput">Username</label>
              <input type="text" name="username" class="form-control" id="usernameInput" aria-describedby="usernameHelp" placeholder="Username" required>
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary fle">Log in</button>
          </form>
        {% endif %}
        <div class="container text-center">
          {% if status == 'success' %}
            <p class="text-success my-0">You have successfully logged in!</p>
          {% elseif session.username %}
            <p class="text-muted my-0">You are already logged in.</p>
          {% endif %}
          {% if status == 'failure' %}
            <p class="text-danger pt-3 my-0">Incorrect password, please try again</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
