{% extends 'common.twig' %}

{% block content %}
<div class="container">
  <div class="container py-5 col-lg-8">
    <script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>
    <form action="{{ router.pathFor('post', {'domain': domain})}}" method="post">
      <input type="text" name="title" placeholder="Title" class="form-control form-control-lg post-title">
      <textarea name="text" id="editor"></textarea>

      <div class="card mt-2">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="form-check d-flex flex-row flex-wrap ">
            {% for category in categories %}
            <div class="col-6 col-md-4">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <p><label class="form-check-label" for="defaultCheck1">
                  {{category}}
                </label></p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>



      <button type="submit" class="btn btn-primary my-2">Submit</button>
    </form>
    <script>
      ClassicEditor
        .create(document.querySelector('#editor'), {
          toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', '|', 'undo', 'redo']
        })
        .catch(error => {
          console.error(error);
        });
    </script>
  </div>
</div>
<div class="flex-grow-1"></div>
{% endblock %}