{% extends 'common.twig' %}

{% block content %}
  <div class="container py-5 col-lg-8">
    <script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>
    <input type="text" placeholder="Title" class="form-control form-control-lg post-title">
    <textarea name="content" id="editor"></textarea>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ), {
              toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', '|', 'undo', 'redo' ]
            })
            .catch( error => {
                console.error( error );
            } );
    </script>
    <button type="submit" class="btn btn-primary my-2">Submit</button>
  </div>
{% endblock %}
