@import "_variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "_bootswatch.scss";

.card-form {
  max-width: 500px;
}

/*
.alert-container {
  left: unset;
  width: 300px;
}*/

body {
  min-height: 100vh;
}

.ck-content{
  min-height: 200px;
}

.post-title{
  border: none;
  box-shadow: none;
  &::placeholder{
    font-size: 2rem;
    font-family: serif;
  }
  &:focus{
    box-shadow: none;
  }
}

.nav-custom{
  width: 150px;
  border-radius: 0 !important;
}

.dropdown-toggle::after{
  display:none;
}

.custom-select {
  -moz-appearance: none;
}

td, th {
  vertical-align: middle !important;
}

.inputCatDash::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.inputCatDash:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.inputCatDash::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}